.footer{
  margin: 50px 170px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-top{
  display: flex;
  justify-content: space-between;
}

.footer-top-left p{
  font-size: 16px;
  max-width: 500px;
}

.footer-top-right{
  display: flex;
  align-items: center;
  gap: 30px;
}

.footer-email-input{
  display: flex;
  gap: 20px;
  padding: 15px 30px;
  border-radius: 50px;
  background-color: #32323b;
}

.footer-email-input input{
  border: none;
  outline: none;
  background: transparent;
  color: #a0a0a0;
  font-family: Outfit;
  font-size: 18px;
}

.footer-subcribe{
  font-size: 16px;
  padding: 18px 40px;
  border-radius: 40px;
  background: linear-gradient(270deg, #df8908 -5.09%, #b415ff 100%);
  cursor: pointer;
  transition: 0.3s;
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.footer-bottom-right{
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
}

.footer-email-input:hover{
  border: 2px solid white;
}

.footer-subcribe:hover{
  transform: scale(1.1);
  transition: 0.3s;
}

@media(max-width: 768px){
  .footer{
    margin: 50px 50px;
  }

  .footer-top{
    flex-direction: column;
    gap: 30px;
  }

  .footer-bottom{
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 50px;
  }

  .footer-subcribe, .footer-email-input{
    display: none;
  }

}

